---
title: Bill Horsman
description: Bill Horsman is a computer programmer
excerpt: Bill Horsman is a computer programmer
ogImage: content/bill/bill.webp
favicon: bh-logo
layout: layouts/home.njk
eleventyNavigation:
  key: Bill
  order: 2
person:
  slug: bill
  name: Bill Horsman
  role: Computer Programmer
  email: bill@logicalcobwebs.com
  linkedin: billhorsman
  mastodon: mastodon.scot/@billhorsman
  bluesky: billhorsman
  pixelfed: 
    username: billhorsman
    url: https://pixelfed.scot/i/web/profile/785627626060858941
  instagram: billhorsman
  github: billhorsman
---

<h1>{{ person.name }}</h1>

<div class="avatar-and-social">
  {% include "clip-path.njk" %}
  {% include "avatar.njk" %}
  {% include "socials.njk" %}
</div>

<p>Read my <a href="/blog">blog</a> if you want. Or perhaps you're interested in my <a href="/bill/films">favourite films</a>?</p>

<p class="my-4">
  I like to build beautiful interfaces that do useful jobs so that people can
  get things done quickly, easily and with fewer mistakes.
</p>

<p class="my-4">
  I've been adding things to the Internet since 1997 and have used lots of tools
  to do so, but throughout it all runs
  <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a>,
  <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a> and
  <a href="https://developer.mozilla.org/en-US/docs/web/javascript"
    >JavaScript</a
  >.
</p>

<ol class="timeline">
  <li>
    <time datetime="1982">1982</time>
    <span>
      Sporadic coding in
      <a href="https://en.wikipedia.org/wiki/BASIC">BASIC</a> for fun using computers like the <a href="https://en.wikipedia.org/wiki/BBC_Micro">BBC Micro</a>, <a href="https://en.wikipedia.org/wiki/ZX81">ZX81</a> and <a href="https://en.wikipedia.org/wiki/Commodore_PET">Commodore PET</a>.
    </span>
  </li>
  <li>
    <time datetime="1985">1985</time>
    Did surprisingly little coding as part of my engineering degree. What little I did was <a href="https://en.wikipedia.org/wiki/Fortran">Fortran</a>.
  </li>
  <li>
    <time datetime="1992">1992</time>
    Someone paid me a small amount to write code. My first gig.
  </li>
  <li>
    <time datetime="1994">1994</time>
    Started contracting for a big company and made enough money to pay the rent and buy food, like a grown-up.
  </li>
  <li>
    <time datetime="1997">1997</time>
    Wrote code that ran on the Interwebs. Exciting but so frustratingly hard to do even the simplest of things. I won't mention the language or I get recruiters getting in touch for jobs in a language I haven't used in {{ 2007 | yearsSince }} years. It rhymes with lava.
  </li>
  <li>
    <time datetime="2007">2007</time>
    Started using
    <a href="https://rubyonrails.org/">Ruby on Rails</a>
    version 1. Rails has come a long way since then but even version 1 was a breath of fresh air.
  </li>
  <li>
    <time datetime="2018">2018</time>
    Joined
    <a href="https://teamtito.com/">Team Tito</a>, helping to build
    <a href="https://ti.to">Tito</a>,
    <a href="https://vi.to">Vito</a> and
    <a href="https://io.rsvp">IO</a>.
  </li>
  <li>
    <time datetime="{% currentYear %}">{% currentYear %}</time>
    Still here, still using Ruby on Rails, HTML, CSS and JavaScript but also things like
    <a href="https://hotwired.dev/">Hotwire</a>.
  </li>
</ol>

<div class="funnel">
  <i class="fa-solid fa-filter fa-3x"></i>
</div>


<ul class="bullets">
  <li>
    {{ 1992 | yearsSince }} years worth of mistakes; doing things the hard way; learning from what went wrong. Trying to learn even more from what went right.
  </li>
  <li>
    Finishing projects and standing by them in production. Coding isn't all about the thrill of the latest thing - it's also about detail and making it work.
  </li>
  <li>
    Striving to make things as simple as possible - whether that's for the end user or for another developer on my team. Or me, six months down the road. Clever solutions aren't necessarily cool.
  </li>
  <li>
    It takes a lot of thought to make something simple.
  </li>
  <li>
    Rigorous, automatic testing so I have the confidence to make changes.
  </li>
</ul>

<p class="my-4">
  I've worked for banks, telecoms, government, education, distribution, retail
  and news media. Some of it has been at the leading edge using the latest
  tools; some of it has been the rigor of maintaining a financial system. All of
  it has taught me a great deal:
</p>

<ul class="bullets">
  <li>
    Language skills like <i>Ruby</i>, <i>HTML</i>, <i>CSS</i> and <i>JavaScript</i>
  </li>
  <li>
    Coding skills like <i>testing</i> and <i class="hover:opacity-0 transition duration-1000">transparency</i>
  </li>
  <li>
    Business skills like <i>communication</i> and <i>commitment</i>
  </li>
</ul>
