section.film-detail {
  container-name: film-detail;
  container-type: inline-size;

  & > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@container film-detail (width > 60ch) {
  section.film-detail > div{
    grid-template-columns: 1fr 1fr;
  }
}

details {
  margin: 0;

  & summary {
    cursor: pointer;
    list-style-position: outside;
    margin-left: 1rem;
    padding-left: 0.5rem;

    &::marker {
      color: var(--color-highlight);
    }
  }

  & ul {
    list-style-type: "";
    margin: 0;
    padding: 0;

    & li {
      padding: 0.25rem 0;
    }
  }
}
