picture {
  & img {
    height: auto;
    width: 100%;
  }
}

picture + p:has(em) {
  margin: 0 0 2rem;
  text-align: center;
}

body {
  --color-pale: hsla(23, 79%, 98%, 1);
  --color-pale-80: hsla(23, 79%, 98%, 0.8);
  --color-red: hsl(20, 100%, 50%);
  --color-blue: hsl(210, 100%, 40%);
  --color-light-blue: hsl(210, 100%, 70%);
  --color-dark-gray: hsl(0, 0%, 20%);
  --color-dark-gray-80: hsl(0, 0%, 20%, 0.8);
  --color-light-gray: hsla(0, 0%, 0%, 0.2);
  --color-crimson: hsl(350, 90%, 40%);
  --color-light-crimson: hsl(350, 100%, 80%);

  --header-background: hsl(0, 10%, 90%, 0.8);

  --background-color: var(--color-pale);
  --background-color-80: var(--color-pale-80);
  --background-color-highlight: var(--color-light-gray);
  --color: #121212;
  --color-muted: #555;
  --color-slight: #ccc;
  --color-highlight: var(--color-crimson);
  --link-color: var(--color-blue);

  --industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --transitional: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: var(--color-dark-gray);
    --background-color-80: var(--color-dark-gray-80);
    --background-color-highlight: var(--color-light-gray);
    --color: white;
    --color-muted: #ccc;
    --color-slight: #777;
    --link-color: var(--color-light-blue);
    --color-highlight: var(--color-light-crimson);
    --header-background: hsl(0, 100%, 100%, 0.8);
  }
}

html {
  background: var(--background-color) !important;
}

body {
  align-items: start;
  background: var(--background-color);
  box-sizing: border-box;
  color: var(--color);
  display: flex;
  flex-direction: column;
  font-family: var(--transitional);
  font-size: 18px;
  margin: 0;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  line-height: 1.7rem;
  max-width: 70ch;
  padding: 0 1rem 2rem;
}

@media (min-width: 640px) {
  p {
    text-align: justify;
  }
}

.nav-header {
  backdrop-filter: blur(3px) grayscale(1);
  background-color: var(--background-color-80);
  padding: 0 0 0.5rem;
  position: sticky;
  top: 0;
  transition: all 400ms linear;
  width: 100%;
  z-index: 9;
  --skew-angle: -15deg;
}

.nav-header nav {
  display: flex;
  font-family: var(--industrial);
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
}
.nav-header nav a,
.nav-header nav span {
  position: relative;
}
.nav-header nav a:before,
.nav-header nav a:after,
.nav-header nav span:before {
  position: absolute;
  z-index: -1;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--color);
  -webkit-transform: skewX(var(--skew-angle));
  -moz-transform: skewX(var(--skew-angle));
  -ms-transform: skewX(var(--skew-angle));
  transform: skewX(var(--skew-angle));
  top: 0;
}
.nav-header nav a:before,
.nav-header nav span:before {
  left: -0.5rem;
}
.nav-header nav a:after {
  right: -0.5rem;
}
.nav-header nav span {
  display: flex;
  margin-left: auto;
}
.nav-header nav button {
  background-color: var(--color);
  border: none;
  color: var(--background-color);
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (min-width: 480px) {
  .nav-header nav {
    justify-content: flex-start;
  }
}

.nav-header nav a {
  background-color: var(--color);
  color: var(--background-color);
  padding: 0.5rem 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-header nav a:first-child {
  padding-left: 0.5rem;
}

.nav-header nav a[aria-current="page"]:after,
.nav-header nav a[aria-current="page"]:before {
  background-color: var(--color-crimson);
}

.nav-header nav a[aria-current="page"],
.nav-header nav a[aria-current="page"]:visited,
.nav-header nav a[aria-current="page"]:hover {
  background-color: var(--color-crimson);
  border-color: var(--color-crimson);
  color: white;
}

p {
  margin: 0 0 1rem;
}

a,
a:visited,
a:focus {
  color: var(--link-color);
  text-decoration: underline;
  /*  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.2ex;
*/
}
a:hover,
a:focus-visible {
  color: var(--color-red);
}

h1,
h2,
h3 {
  font-family: var(--industrial);
}

h1 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 2rem 0 1rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 2rem 0 1rem;
}

h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1.5rem 0 0.5rem;
}

.social {
  align-items: flex-start;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  margin-bottom: 2rem;
}
.social > div {
  display: flex;
}
.social a {
  border: 0;
  gap: 1rem;
  opacity: 0.8;
}
.social a {
  align-items: center;
  color: var(--color);
  display: flex;
  font-size: clamp(1rem, 6vw, 2rem);
  padding: 0.3rem;
  text-decoration: none;
}
.social a span {
  font-size: 1rem;
}
.social a:hover,
.social a:focus-visible {
  color: var(--color-red);
}

.social > div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

ol.timeline {
  margin: 0 0 1rem;
  padding-left: 0;
}

ol.timeline > li {
  list-style: none;
  margin: 1rem 0;
}

@media (min-width: 480px) {
  ol.timeline {
    padding-left: 2rem;
  }
}

ol.timeline .fa-calendar {
  color: var(--color-highlight);
  margin-right: 0.3em;
}

ol.timeline code {
  color: var(--color-highlight);
  font-size: 1rem;
}

.fa-envelope {
  color: var(--color);
}
.fa-twitter {
  color: #4c9fec;
}
.fa-mastodon {
  color: #5a59ff;
}
.fa-instagram {
  color: #ed4a55;
}
.fa-medium {
  color: #4ba57f;
}
.fa-keybase {
  color: #ee783a;
}
.fa-github {
  color: var(--color);
}

ul.bullets {
  padding-left: 2rem;
  margin-bottom: 1rem;
}
ul.bullets > li {
  padding: 0.5rem 0;
}
ul.bullets > li::marker {
  color: var(--color-highlight);
}

figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

figure img {
  width: 100%;
}

figcaption {
  font-style: italic;
}

nav.people {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 2rem 0;
}
@media (min-width: 480px) {
  nav.people {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
nav.people {
  text-align: center;
  text-decoration: none;
}
nav.people a {
  text-decoration: none;
}
nav.people .role {
  color: var(--color-muted);
}

.avatar {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  clip-path: url(#myClip);
}
.avatar--img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  transition: all linear 0.1s;
  position: absolute;
  left: 10px;
  top: 8px;
  z-index: 1;
  object-fit: cover;
}
a:hover .avatar--img,
.avatar:hover .avatar--img {
  top: 0px;
  left: 6px;
  width: 165px;
}
.avatar--circle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: gold;
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

.avatar-and-social {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
@media (min-width: 640px) {
  .avatar-and-social {
    flex-direction: row;
  }
}

.funnel {
  color: var(--color-highlight);
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.caption {
  font-style: italic;
  text-align: center;
}

iframe {
  box-shadow: 0 0 10px #00000044;
  height: 500px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1rem 0;
  width: 100%;
}

.rss-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;

  span {
    text-transform: underline;
  }
}

.post-credit {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: italic;
  margin: 2rem 0;
}
