article.film {
  margin: 3rem auto 0;

  & .backdrop-and-poster {    
    margin-bottom: 4rem;
    position: relative;
  }

  & img.poster {
    margin: 0 auto;
    max-width: 100px;
    filter: grayscale(100%) ;
    position: absolute;
      bottom: -2rem;
      left: -1rem;
    transform: rotate(-10deg);
  }

  &.slug-24-hour-party-people-2002,
  &.slug-black-hawk-down-2001,
  &.slug-cest-la-vie-2017,
  &.slug-its-a-wonderful-life-1946,
  &.slug-local-hero-1983,
  &.slug-parasite-2019,
  &.slug-the-big-lebowski-1998,
  &.slug-the-french-dispatch-2021,
  &.slug-the-party-2017 {
    img.poster {
      left: auto;
      right: -1rem;
      transform: rotate(10deg);
    }
  }

  &.slug-fantastic-mr-fox-2009,
  &.slug-the-handmaiden-2016 {
    img.poster {
      bottom: auto;
      top: -2rem;
      transform: rotate(10deg);
    }
  }

  & blockquote + blockquote {
    margin-top: 3rem;
  }

  & .director {
    font-size: 1.25rem;
  }

  & h2 {
    font-size: 1.25rem;
  }

  & ul {
    list-style-type: "";
    padding: 0 0 0 1rem;

    & li {
      padding: 0.25rem 0;
    }
  }
}
