/* Defaults */
:root {
  --font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
  --font-family-rounded-sans: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  --industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  --transitional: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

  --red-500: oklch(55% 0.21 25);
  --red-700: oklch(65% 0.21 25);

  --yellow-200: oklch(20% 0.01 95);
  --yellow-200-80: oklch(20% 0.01 95 / 80%);
  --yellow-300: oklch(30% 0.01 95);
  --yellow-500: oklch(50% 0.03 95);
  --yellow-900: oklch(95% 0.01 95);
  --yellow-900-80: oklch(95% 0.01 95 / 80%);

  --blue-light: oklch(75% 0.12 250);
  --blue-mid: oklch(50% 0.12 250);

  --gray-100: oklch(10% 0 0);
  --gray-200: oklch(20% 0 0);
  --gray-400: oklch(40% 0 0);
  --gray-800: oklch(80% 0 0);
  --gray-900: oklch(90% 0 0);

  --color-red: hsl(20, 100%, 50%);

  --header-background: hsl(0, 10%, 90%, 0.8);

  /* Fallback property values if light-dark() is not supported */
  --background-color: var(--yellow-900);
  --background-color-80: var(--yellow-900-80);
  --color: var(--gray-100);
  --color-muted: var(--gray-200);
  --border-color: var(--gray-800);
  --color-highlight: var(--red-500);
  --link-color: var(--blue-mid);
  --link-color-highlight: var(--color-highlight);
  --cta-background-color: black;
  --cta-color: white;
  --cta-background-color-hover: #333;
  --badge-background-color: white;

  --mastodon: #5a59ff;
  --linkedin: #2d65bc;
  --bluesky: #4489f6;
  --twitter: #4c9fec;
  --instagram: #ed4a55;
  --keybase: #ee783a;
  --medium: #4ba57f;

  /* If light-dark() is supported, use the following values */
  @supports (color: light-dark(black, white)) {
    --background-color: light-dark(var(--yellow-900), var(--yellow-200));
    --background-color-80: light-dark(var(--yellow-900-80), var(--yellow-200-80));
    --color: light-dark(var(--gray-100), var(--gray-900));
    --color-muted: light-dark(var(--gray-200), var(--gray-800));
    --border-color: light-dark(var(--gray-800), var(--gray-400));
    --color-highlight: light-dark(var(--red-500), var(--red-700));
    --link-color: light-dark(var(--blue-mid), var(--blue-light));
    --cta-background-color: light-dark(black, white);
    --cta-color: light-dark(white, black);
    --cta-background-color-hover: light-dark(#333, #eee);
    --badge-background-color: light-dark(white, var(--yellow-300));

    --mastodon: light-dark(#5a59ff, #6364f6);
    --linkedin: light-dark(#2d65bc, #2d65bc);
    --bluesky: light-dark(#4489f6, #4489f6);
    --twitter: light-dark(#4c9fec, #4c9fec);
    --instagram: light-dark(#ed4a55, #ed4a55);
    --keybase: light-dark(#ee783a, #ee783a);
    --medium: light-dark(#4ba57f, #4ba57f);
  }
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

@view-transition {
  navigation: auto;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  color: var(--color);
  background-color: var(--background-color);
}

html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.5;
}

li {
  line-height: 1.5;
}

main,
footer {
  padding: 1rem;
}

.links-nextprev {
  display: flex;
  justify-content: space-between;
  gap: .5em 1em;
  list-style: "";
  border-top: 1px dashed var(--color-gray-20);
  padding: 1em 0 0;
}

.links-nextprev>* {
  flex-grow: 1;
}

.links-nextprev-next {
  text-align: right;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
}

pre:not([class*="language-"]) {
  margin: .5em 0;
  line-height: 1.375;
  /* 22px /16 */
  -moz-tab-size: var(--syntax-tab-size);
  -o-tab-size: var(--syntax-tab-size);
  tab-size: var(--syntax-tab-size);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-x: auto;
}

code {
  word-break: break-all;
}

/* Header */
header {
  display: flex;
  gap: 1em .5em;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
}

.home-link {
  font-size: 1em;
  /* 16px /16 */
  font-weight: 700;
  margin-right: 2em;
}

.home-link:link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav a[href][aria-current="page"] {
  text-decoration: underline;
}

.scheme-switcher {
  display: none;
}

@supports (color: light-dark(black, white)) {
  .scheme-switcher {
    display: flex;
    padding: 0.125em;
    width: fit-content;
    border: 0.125em solid var(--color-text);
    border-radius: calc(infinity * 1px);
  }
}

.scheme-switcher {
  & button {
    margin: 0;
    padding-block: 0.25em;
    padding-inline: 0.5em;
    border: none;
    border-radius: calc(infinity * 1px);
    background-color: transparent;
    cursor: pointer;
    color: var(--color-text);
    font: inherit;

    &[aria-pressed='true'] {
      background-color: light-dark(black, white);
      color: var(--background-color);
    }
  }
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
  padding-left: 1.5rem;
}

.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.3;
  margin-bottom: 1em;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
  margin-left: -1.5rem;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--color-gray-90);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700;
  flex-basis: calc(100% - 1.5rem);
  padding-left: .25em;
  padding-right: .5em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.post-tag {
  background-color: var(--badge-background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none;
  font-style: italic;
  padding: 0 0.25rem;
}

.postlist-item>.post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: .5em;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
}

a,
a:visited,
a:focus {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: 0.2ex;
  transition: color 0.2s ease-in-out;
}

a:hover,
a:focus-visible {
  color: var(--link-color-highlight);
}

main {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  line-height: 1.7rem;
  margin: 0 auto;
  max-width: 70ch;
  padding: 0 1rem;
  width: 100%;
}

@media (min-width: 640px) {
  p {
    text-align: justify;
  }
}

footer {
  display: flex;
  justify-content: flex-end;
}

.nav-header {
  backdrop-filter: blur(3px) grayscale(1);
  background-color: var(--background-color-80);
  padding: 0 0 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  --skew-angle: -15deg;
}

.nav-header nav {
  display: flex;
  font-family: var(--industrial);
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
}

.nav-header nav a,
.nav-header nav span {
  position: relative;
}

.nav-header nav a:before,
.nav-header nav a:after,
.nav-header nav span:before {
  position: absolute;
  z-index: -1;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--color);
  -webkit-transform: skewX(var(--skew-angle));
  -moz-transform: skewX(var(--skew-angle));
  -ms-transform: skewX(var(--skew-angle));
  transform: skewX(var(--skew-angle));
  top: 0;
}

.nav-header nav a:before,
.nav-header nav span:before {
  left: -0.5rem;
}

.nav-header nav a:after {
  right: -0.5rem;
}

.nav-header nav span {
  display: flex;
  margin-left: auto;
}

.nav-header nav button {
  background-color: var(--color);
  border: none;
  color: var(--background-color);
  cursor: pointer;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media (min-width: 480px) {
  .nav-header nav {
    justify-content: flex-start;
  }
}

.nav-header nav a {
  background-color: var(--color);
  color: var(--background-color);
  padding: 0.5rem 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-header nav a:first-child {
  padding-left: 0.5rem;
}

.nav-header nav a[aria-current="page"]:after,
.nav-header nav a[aria-current="page"]:before {
  background-color: var(--color-highlight);
}

.nav-header nav a[aria-current="page"],
.nav-header nav a[aria-current="page"]:visited,
.nav-header nav a[aria-current="page"]:hover {
  background-color: var(--color-highlight);
  border-color: var(--color-highlight);
  color: white;
}

p {
  margin: 0 0 1rem;
}


h1,
h2,
h3 {
  font-family: var(--industrial);
}

h1 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 2rem 0 1rem;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  margin: 2rem 0 1rem;
}

h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 1.5rem 0 0.5rem;
}

.social {
  align-items: flex-start;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  margin-bottom: 2rem;
}

.social > div {
  display: flex;
}

.social a {
  border: 0;
  gap: 1rem;
  opacity: 0.8;
}

.social a {
  align-items: center;
  color: var(--color);
  display: flex;
  font-size: clamp(1rem, 6vw, 2rem);
  padding: 0.3rem;
  text-decoration: none;

  & i {
    transition: transform 0.2s ease-in-out;
  }
}

.social a span {
  font-size: 1rem;
}

.social a:hover,
.social a:focus-visible {
  color: var(--link-color-highlight);

  & i {
    transform: scale(1.1);
  }
}

.social > div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

ol.timeline {
  margin: 0 0 1rem;
}

ol.timeline>li {
  list-style: disc;
  margin: 1rem 0;
}

ol.timeline>li::marker {
  color: var(--color-highlight);
}

@media (min-width: 480px) {
  ol.timeline {
    padding-left: 2rem;
  }
}

ol.timeline time {
  color: var(--color-highlight);
  font-family: var(--font-family-monospace);
  margin-right: 0.3em;
}

ol.timeline code {
  color: var(--color-highlight);
  font-size: 1rem;
}

.fa-envelope {
  color: var(--color);
}

.fa-square-bluesky {
  color: var(--bluesky);
}

.fa-twitter {
  color: var(--twitter);
}

.fa-linkedin {
  color: var(--linkedin);
}

.fa-mastodon {
  color: var(--mastodon);
}

.fa-instagram {
  color: var(--instagram);
}

.fa-medium {
  color: var(--medium);
}

.fa-keybase {
  color: var(--keybase);
}

.fa-github {
  color: var(--color);
}

ul.bullets {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

ul.bullets>li {
  padding: 0.5rem 0;
}

ul.bullets>li::marker {
  color: var(--color-highlight);
}

figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.post-metadata+p {
  margin-top: 2rem;
}

.ha-placeholder {
  font-size: 0;
}

picture+p:has(em) {
  margin: 0 0 2rem;
  text-align: center;
}


figure img,
picture img {
  height: auto;
  width: 100%;
}

figcaption {
  font-style: italic;
}

nav.people {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: 2rem 0;
}

@media (min-width: 480px) {
  nav.people {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

nav.people {
  text-align: center;
  text-decoration: none;
}

nav.people a {
  text-decoration: none;
}

nav.people .role {
  color: var(--color-muted);
}

.avatar {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  clip-path: url(#myClip);
}

.avatar--img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  transition: all linear 0.1s;
  position: absolute;
  left: 10px;
  top: 8px;
  z-index: 1;
  object-fit: cover;
}

a:hover .avatar--img,
.avatar:hover .avatar--img {
  top: 0px;
  left: 6px;
  width: 165px;
}

.avatar--circle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: gold;
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

.avatar-and-social {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

@media (min-width: 640px) {
  .avatar-and-social {
    flex-direction: row;
  }
}

.funnel {
  color: var(--color-highlight);
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p.caption {
  font-style: italic;
  text-align: center;
}

iframe {
  box-shadow: 0 0 10px #00000044;
  height: 500px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1rem 0;
  width: 100%;
}

.rss-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;

  span {
    text-transform: underline;
  }
}

.postlist-item {
  flex-wrap: nowrap;
}

.postlist-item:before {
  color: var(--color-highlight);
}

.postlist-item>div {
  padding-left: 1rem;
}

.postlist-item a {
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0;
  text-decoration: none;
}

.postlist-excerpt {
  margin: 0.5rem 0;
}

.postlist-date {
  font-size: 1rem;
}

.postlist-date:before {
  content: "\2014";
  margin-right: 0.5rem;
}

.post-credit {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: italic;
  margin: 2rem 0;
}

.icon-gallery {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}

.icon-gallery div {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.icon-gallery svg {
  color: white;
  fill: white;
  font-size: 40px;
  height: 40px;
  width: 50px;
}

.icon-gallery i {
  align-items: center;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 35px;
  height: 60px;
  justify-content: center;
  width: 60px;
}

sup {
  color: var(--color-highlight);
}

blockquote {
  border-left: 1px solid var(--color-muted);
  color: var(--color-muted);
  padding-left: 1rem;
  margin-left: 0.5rem;
}

.cta {
  margin: 2rem 0;
  text-align: center;
}

.cta a {
  background-color: var(--cta-background-color);
  color: var(--cta-color);
  border-radius: 0.5rem;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}

.cta a:hover {
  background-color: var(--cta-background-color-hover);
}

ul {
  margin-bottom: 2rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.film-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

  & img {
    filter: grayscale(40%);
    transition: filter 0.1s ease-in-out;
  }

  & a:hover img {
    filter: grayscale(0%);
  }
}

.film-list picture {
  display: flex;
}

article.film {
  img {
    margin: 0 auto;
    max-width: 200px;
  }

  & .director {
    font-size: 1.25rem;
  }

  & h2 {
    font-size: 1.25rem;
  }

  & ul {
    list-style-type: "";
    padding: 0 0 0 1rem;

    & li {
      padding: 0.25rem 0;
    }
  }
}

nav.films {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 2rem 0 0;

  & a,
  & span { 
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    text-align: center;
  }

  & .prev {
    text-align: left;
  }

  & .prev:before {
    content: "<";
    display: inline-block;
    font-size: 0.8125rem;
    margin: 0 3px 3px 0;
  }

  & .next {
    text-align: right;
  }

  & .next:after {
    content: " >";
  }

  & span {
    color: var(--color-muted);
  }

  & + p {
    font-family: var(--font-family-monospace);
    font-size: 0.8125rem;
    text-align: center;
  }
}
