.scheme-switcher {
  display: none;
  width: fit-content;
}

@supports (color: light-dark(black, white)) {
  .scheme-switcher {
    display: flex;
  }
}

.scheme-switcher {
  margin: 0;
  padding-block: 0.25em;
  padding-inline: 0.5em;
  border: none;
  border-radius: calc(infinity * 1px);
  background-color: transparent;
  color: var(--color-text);
  font: inherit;
  
  & button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25em;
  }

  & i {
    display: none;
  }

  & .hint {
    font-size: 0.875rem;
  }

  &[data-scheme="light"] {
    & i.light-icon {
      display: block;
    }
  }

  &[data-scheme="dark"] { 
    & i.dark-icon {
      display: block;
    }
  }

  &[data-scheme="light dark"] {
    & i.auto-icon {
      display: block;
    }
  }
}

::view-transition-old(root) {
  animation-duration: 0.3s;
}

::view-transition-new(root) {
  animation-duration: 0.3s;
}
