.scheme-switcher {
  display: none;
  width: fit-content;
}

@supports (color: light-dark(black, white)) {
  .scheme-switcher {
    display: flex;
  }
}

.scheme-switcher {
  margin: 0;
  padding-block: 0.25em;
  padding-inline: 0.5em;
  border: none;
  border-radius: calc(infinity * 1px);
  background-color: transparent;
  color: var(--color-text);
  font: inherit;
  
  & button {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25em;
  }

  & i {
    display: none;
  }

  & .hint {
    font-size: 0.875rem;
  }

  &[data-scheme="light"] {
    & i.light-icon {
      display: block;
    }
  }

  &[data-scheme="dark"] { 
    & i.dark-icon {
      display: block;
    }
  }

  &[data-scheme="light dark"] {
    & i.auto-icon {
      display: block;
    }
  }
}

:root {
  --view-transition-duration: 0.5s;
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-old(root) {
    animation-delay: var(--view-transition-duration);
  }

  ::view-transition-new(root) {
    animation: circle-in var(--view-transition-duration);
  }
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at 50% 50%);
  }

  to {
    clip-path: circle(100% at 50% 50%);
  }
}
