---
title: Nonie Coulthard
description: Nonie Coulthard is a nature conservationist
excerpt: Nonie Coulthard is a nature conservationist
layout: layouts/home.njk
canonical: https://logicalcobwebs.com/nonie/
ogImage: content/nonie/nonie.webp
eleventyNavigation:
  key: Nonie
  order: 3
person:
  slug: nonie
  name: Nonie Coulthard
  role: Nature Conservationist
  email: nonie@logicalcobwebs.com
  linkedin: nonie-coulthard-b2911b31
  twitter: noniehorsman
  mastodon: mastodon.scot/@noniehorsman
---

<h1>{{ person.name }}</h1>

<div class="avatar-and-social">
  {% include "clip-path.njk" %}
  {% include "avatar.njk" %}
  {% include "socials.njk" %}
</div>

<p>
  I am lucky enough to have a life-long interest in nature conservation and
  people, which I've been able to develop as a career. Most of my working life
  has been spent supporting conservation and international development in
  Africa, as well as nature conservation and ‘people’ issues closer at home, in
  Scotland.
</p>

<p>
  From 2008 to 2012, we lived as a family in British Columbia (Vancouver
  Island), in order to experience life and work in a different country and
  culture. Whenever possible, husband Bill and I work together, through Logical
  Cobwebs. In practice, this doesn’t happen often – but we usually share an
  office (3½ years in leafy, rural Metchosin, BC with glimpses of the Pacific
  Ocean from the end of the drive) and now back at the foot of the lovely Angus
  Glens, with Lintrathen Loch only a few seconds’ walk away.
</p>

<p>
  My passion for working with people and conservation in Africa began in
  Sénégal, West Africa, where I lived for 2½ years in the early 1980s. I carried
  out research on African bee-eaters (as a penniless student!) and the
  experience was life changing. I travelled throughout the country, became
  fluent in French and experienced all the joys of getting to know people of a
  different culture and a very different way of life. Sénégal is a fantastic
  country - incredible wildlife, landscapes from semi-desert to rain forest and
  spectacular coastlines, vibrant music and dance and culture, wonderful
  cuisine. I struggled to get enough data for my PhD but on my return, I was
  incredibly fortunate to work in the south of France (the Camargue) for several
  summers with researchers from Oxford and Sheffield Universities. Thanks to Drs
  Avery, Krebs and especially Lessells, I was able to join a long-term bee-eater
  research project and carry out my own research. The friendship, horses,
  wildlife, food, wine and way of life in the Camargue (and specifically at the
  Tour du Valat research centre) are fantastic and I have many long-lasting
  friendships and collaborations from those days too.
</p>

<p>
  In 1987 I joined RSPB (Royal Society for the Protection of Birds, UK)
  International Department and spent 6 months on European projects before moving
  to manage the Africa Programme. This included support to developing African
  NGOs and biodiversity conservation projects in Ghana, Nigeria and a new one I
  initiated with the Forestry Department in Sierra Leone (probably my favourite
  African country) in the early 1990s. (That project and the work of many
  Leoneans and others led recently to the declaration of Sierra Leone's second
  National Park - Gola Rainforest). Soon after this, I was seconded from RSPB to
  BirdLife International where I was Head of Africa Division for about 5 years,
  responsible for strategic planning and development of the BirdLife Africa
  Programme, managing projects, fund raising, liaison and negotiation with
  governments and donors; and supporting the development and capacity building
  of national conservation NGOs which make up the BirdLife Africa Partnership. I
  have worked in more than half of the countries in Africa and made many
  long-lasting friendships. In recent years I have worked frequently in West and
  East Africa as a consultant and it is hugely rewarding to see the BirdLife
  African Partnership and programme going from strength to strength, with
  Secretariats in Nairobi and Accra, and many of the young Africans I worked
  with in the ‘80s and ‘90s now fully established and influential
  conservationists in key positions across the continent.
</p>

<img src="./togo.jpg" alt="People gathered under trees in Togo" />
* *People gathered under trees in Togo

<p>
  I switched to contract work in 1995 when I left BirdLife (a very sad
  occasion!) and moved with Bill to live in Scotland as a consultant working on
  a wide variety of biodiversity conservation, policy research, literature
  review, project management and evaluation and other projects, internationally
  and in Scotland. Clients included the Scottish Government, Scottish Natural
  Heritage, the National Trust for Scotland, WWF Scotland, BirdLife
  International, UNDP and the World Bank. I travelled rather less for a few
  years while raising a young family but usually completed one or two
  international contracts a year and also worked as a Board Member on public
  bodies (SNH and the Cairngorms National Park Authority - in Britain's largest
  and Scotland's newest National Park). I loved the work in the Cairngorms
  National Park and I particularly enjoyed using relevant experiences from
  elsewhere (Africa) to try to help find solutions to people/ conservation
  issues. The underlying principles and importance of consulting local people
  and taking account of the needs for socio-economic development, jobs,
  livelihoods etc. - alongside biodiversity conservation and real sustainable
  use of natural resources - are pretty much the same, even in very different
  geographic, cultural and economic contexts.
</p>

<img src="./senegal.jpg" alt="People gathered under some trees in Senegal" />
*People gathered under some trees in Senegal*

<p>
  In 2008, we made our move to live on and explore the Pacific coast of Canada
  for a while. It was a much harder move than we anticipated – both in terms of
  culture shock and the huge bureaucratic hurdles of moving to a country which
  we assumed would be similar in many ways to Scotland (but wasn’t!). I also
  found it harder than I expected to obtain work but luckily enough I was able
  to carry on international consultancies, mainly for the UNDP and the Global
  Environment Facility (GEF) in Africa (despite the additional coast of flying
  me across the Atlantic to get there!). This included a return visit to Sénégal
  - my first visit back there for over 20 years, where I had the great good
  fortune to work with a very old friend and colleague, M. (Colonel) Seydina
  Issa Sylla, who was Sénégal's Director of National Parks for many years and is
  one of the country's foremost biodiversity experts.
</p>

<h2>Imarisha naivasha</h2>

<p>
  In 2012, I carried out a 3-month consultancy in Kenya (in between also
  completing our family move back to Scotland in August of the same year) to
  prepare the first Five Year Sustainable Development Action Plan (SDAP) for
  Imarisha Naivasha (“Arise Naivasha”). This is a novel multi-stakeholder Board
  (principally community/ user groups and private sector, with local and
  national government representation and direct support of the then Prime
  Minister). Imarisha Naivasha was established (with international support from
  Prince Charles’ Sustainability Initiative) to ensure sustainable water and
  natural resource use and ecological restoration of Lake Naivasha and the whole
  Naivasha Basin. In addition to the SDAP, I worked with WWF Kenya, Imarisha
  Naivasha and partners on funding applications to implement parts of the Plan,
  including a 4-year, 4 million USD budget secured from the Embassy of the
  Kingdom of the Netherlands in Nairobi.
</p>

<p>
  In between work and family I have always been a keen outdoor sports person and
  happily my family also love the outdoors! At University in Dundee I was a
  member of the Scottish Kayak Slalom team (national champion in 1979). I have
  ridden horses all my life (a very useful skill in the Camargue) and also enjoy
  cross-country skiing, hill running and sea kayaking. In 2003 to 2006 Bill and
  I both took part in the Hebridean Challenge - a fantastic, friendly five-day
  team race, full of challenges, along the length of the Outer Hebrides (sadly,
  now no longer running). In years when we weren’t racing we also marshaled the
  event (with dogs and children helping) and continued to fall under the spell
  of the wonderful Scottish west coast and the Hebrides. We loved our time in
  the outdoors in BC but for me, the Hebrides wins hands down and is now once
  again only a short drive and a ferry ride or two away! New challenges now we
  are back in the Angus Glens include our many local hills and running/ mountain
  bike routes; loch, sea and river paddling and the Great Glen Paddle from Fort
  William to Inverness in March 2014.
</p>

<img src="./kayak.jpg" alt="Kayaking on Loch Ness" />
*Kayaking on Loch Ness*
