---js
const eleventyNavigation = {
	key: "Blog",
	order: 4
};
---
<h1>Archive</h1>

<p>
  Posts by <a href="/bill">Bill</a>. You can also subscribe to the <a href="/feed/feed.xml" class="rss-link"><i class="fa-solid fa-square-rss"></i> <span>feed</span></a>.
</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
