---js
const eleventyNavigation = {
	key: "Blog",
	order: 4
};
---
<h1>Archive of posts by <a href="/bill">Bill Horsman</a></h1>

<a href="/feed/feed.xml" class="rss-link">
  <i class="fa-solid fa-square-rss"></i>
  <span>Feed</span>
</a>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
