---
title: Logical Cobwebs
description: Bill Horsman is a computer programmer and Nonie Coulthard is a nature conservationist
excerpt: Bill Horsman is a computer programmer and Nonie Coulthard is a nature conservationist
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
people:
  - slug: bill
    name: Bill Horsman
    role: Computer Programmer
  - slug: nonie
    name: Nonie Coulthard
    role: Nature Conservationist
---

{% include "clip-path.njk" %}
<nav class="people">
  {% for person in people %}
  <a href="/{{ person.slug }}">
    <span class="name">{{ person.name }}</span>
    {% include "avatar.njk" %}
    <span class="role">{{ person.role }}</span>
  </a>
  {% endfor %}
</nav>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
