---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
{%- for post in collections.posts %}
{%- if post.data.dca and post.data.filmSlug %}
/{{ films[post.data.filmSlug].id }} {{ post.url }} 301
{%- endif %}
{%- endfor %}
