---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
# Films swapped out of the top 100 whose stale pages used to linger
/bill/films/being-there-1979/ /bill/films/ 301
/bill/films/duck-you-sucker-1971/ /bill/films/ 301
/bill/films/happygolucky-2008/ /bill/films/ 301
/bill/films/killers-of-the-flower-moon-2023/ /bill/films/ 301
/bill/films/north-by-northwest-1959/ /bill/films/ 301
/bill/films/whats-eating-gilbert-grape-1993/ /bill/films/ 301
# lgc.li is a Netlify domain alias; force every request over to the
# canonical domain (the ! is needed because content exists at the path)
https://lgc.li/* https://logicalcobwebs.com/:splat 301!
http://lgc.li/* https://logicalcobwebs.com/:splat 301!
{%- for post in collections.posts %}
{%- if post.data.dca and post.data.filmSlug %}
/{{ films[post.data.filmSlug].id }} {{ post.url }} 301
{%- endif %}
{%- endfor %}
