---
permalink: /_redirects
layout: false
eleventyExcludeFromCollections: true
---
# Album slugs improved (accent folding, collapsed dashes)
/bill/albums/-lolympia-1962-1993/ /bill/albums/a-lolympia-1962-1993/ 301
/bill/albums/inform--educate--entertain-2013/ /bill/albums/inform-educate-entertain-2013/ 301
/bill/albums/la-symphonie-des-clairs-2023/ /bill/albums/la-symphonie-des-eclairs-2023/ 301
/bill/albums/the-velvet-underground--nico-1967/ /bill/albums/the-velvet-underground-nico-1967/ 301
# lgc.li is a Netlify domain alias; force every request over to the
# canonical domain (the ! is needed because content exists at the path)
https://lgc.li/* https://logicalcobwebs.com/:splat 301!
http://lgc.li/* https://logicalcobwebs.com/:splat 301!
{%- for post in collections.posts %}
{%- if post.data.dca and post.data.filmSlug %}
/{{ films[post.data.filmSlug].id }} {{ post.url }} 301
{%- endif %}
{%- endfor %}
