<div class="avatar">
  <svg viewBox="0 0 180 180" width="0" height="0">
    <defs>
      <clipPath id="myClip">
        <circle cx="90" cy="90" r="70" />
        <rect width="160" height="90" x="10" y="0" />
      </clipPath>
    </defs>
  </svg>
  <div class="avatar--circle"></div>
  <img class="avatar--img" src="/img/{{ person.slug }}.webp" alt=""/>
</div>
