{% set film = films[filmSlug] %}
<a href="/bill/films/{{ filmSlug }}" class="film">
  <div class="backdrop">
    <img src="/bill/films/backdrops/{{ filmSlug }}.jpg" alt="">
  </div>
  <div class="poster">
    <img src="/bill/films/posters/{{ filmSlug }}.jpg" alt="">
  </div>
  <dl>
    <dt class="title">Title</dt>
    <dd class="title">{{ film.title }}</dd>
    <dt class="year">Year</dt>
    <dd class="year">{{ film | filmYear }}</dd>
    <dt class="director">Director</dt>
    <dd class="director one-line">{{ film | directors }}</dd>
    <dt class="cast">Cast</dt>
    <dd class="cast one-line">{{ film | cast }}.</dd>
  </dl>
  {%- if review -%}
    <blockquote class="review">{{ review | safe }}</blockquote>
  {%- endif -%}
</a>
