<article class="film slug-#{film["filmSlug"]}">
  <div class="backdrop-and-poster">
    <img class="poster" src="/bill/films/posters/{{ filmSlug }}.jpg" alt="">
    <img class="backdrop" src="/bill/films/backdrops/{{ filmSlug }}.jpg" alt="">
  </div>
</article>
