<nav class="scheme-switcher"> 
  <button type="button" class="scheme-switcher" aria-label="Color scheme switcher">
    <span class="hint"></span>
    <i class="light-icon fa-fw fa-solid fa-sun"></i>
    <i class="dark-icon fa-fw fa-solid fa-moon"></i>
    <i class="auto-icon fa-fw fa-solid fa-clock"></i>
  </button>
</nav>
