---
pagination:
  data: top_albums
  size: 1
  alias: slug
  addAllPagesToCollections: true
permalink: "/bill/albums/{{ slug }}/"
eleventyComputed:
  title: "{{ albums[slug].title }}"
---
{%- set album = albums[slug] %}
{%- set position = top_albums.indexOf(slug) + 1 %}
{%- set inTopFive = top_5_albums.includes(slug) %}

{%- set prevAlbum = albums[top_albums[position - 2]] if position > 1 %}
{%- set nextAlbum = albums[top_albums[position]] if position < top_albums.length %}
<nav class="albums-nav">
  <div class="prev">
    {%- if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}"><i class="fa-solid fa-chevron-left fa-xs"></i> Previous</a>
    {%- else %}
      <span><i class="fa-solid fa-chevron-left fa-xs"></i> Previous</span>
    {%- endif %}
  </div>
  <div>
    <a class="simple" href="/bill/albums/">{{ position }} / {{ top_albums.length }}</a>
  </div>
  <div class="next">
    {%- if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Next <i class="fa-solid fa-chevron-right fa-xs"></i></a>
    {%- else %}
      <span>Next <i class="fa-solid fa-chevron-right fa-xs"></i></span>
    {%- endif %}
  </div>
  <div class="hint">
    <span class="prev-hint">
      <span class="sr-only">Previous album:</span>
      {{ prevAlbum.title if prevAlbum else "Start of list" }}
    </span>
    <span class="next-hint">
      <span class="sr-only">Next album:</span>
      {{ nextAlbum.title if nextAlbum else "End of list" }}
    </span>
  </div>
</nav>

<article class="album">
  {%- if slug | albumCoverExists %}
  <img class="album-cover" src="/bill/albums/covers/{{ slug }}.jpg" alt="Cover of {{ album.title }} by {{ album.artist }}">
  {%- else %}
  <div class="album-cover album-card-no-cover"><i class="fa-solid fa-record-vinyl"></i></div>
  {%- endif %}

  <h1>{{ album.title }}</h1>

  <p class="album-artist">
    <strong>{{ album.artist }}</strong> · {{ album.year }}
    {%- if inTopFive %} · <span class="album-top-five-badge">Top 5</span>{% endif %}
  </p>

  {%- if album["top-genres"].length %}
  <p class="album-genres">
    {{ album["top-genres"] | join(", ") }}
  </p>
  {%- endif %}

  {%- if album["album-link"] %}
  <p>
    <a class="album-listen" href="{{ album["album-link"] }}">
      <i class="fa-solid fa-headphones"></i>
      Listen
    </a>
  </p>
  {%- endif %}
</article>
