<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="canonical" href="{% canonicalUrlToUse canonicalUrl %}" />
    <meta property="og:url" content="{% canonicalUrlToUse canonicalUrl %}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    {% if ogImage %}
      <meta property="og:image" content="{% shareImageUri ogImage %}">
    {% endif %}

    <meta name="color-scheme" content="light dark">

    <link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="icon" href="/img/bh-logo.ico" sizes="32x32">
    <link rel="icon" href="/img/bh-logo.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/img/bh-logo.png">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #}

    {#-
    Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
    1. CSS:
      * Add to a per-page bundle using `{% css %}{% endcss %}`
      * Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
    2. Or for JavaScript:
      * Add to a per-page bundle using `{% js %}{% endjs %}`
      * Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
    3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
    #}

    {#- Add an arbitrary string to the bundle #}
    {%- css %}/* This is an arbitrary CSS string added to the bundle */{% endcss %}
    {#- Add the contents of a file to the bundle #}
    {%- css %}{% include "public/css/index.css" %}{% endcss %}
    {%- css %}{% include "public/css/details.css" %}{% endcss %}
    {%- css %}{% include "public/css/film-article.css" %}{% endcss %}
    {%- css %}{% include "public/css/film.css" %}{% endcss %}
    {%- css %}{% include "public/css/theme.css" %}{% endcss %}
    {#- Or you can add from node_modules #}
    {# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

    {#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
    {#- <style>{% getBundle "css" %}</style> #}
    {#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

    {#- Add the heading-anchors web component to the JavaScript bundle #}
    {%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
    {%- js %}{% include "public/js/theme.js" %}{% endjs %}
    {%- js %}{% include "public/js/film.js" %}{% endjs %}
    <script src="https://kit.fontawesome.com/7ad635dbf3.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>

    <header class="nav-header" id="nav-header">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <nav>
        <h2 class="visually-hidden">Top level navigation menu</h2>
        <a href="/">Home</a>
        <a href="/bill">Bill</a>
        <a href="/bill/films" aria-current="page">Films</a>
      </nav>
    </header>

    <main id="skip">
      <heading-anchors>
        {{ content | safe }}
      </heading-anchors>
    </main>

    <footer>
      <a href="/bill/films/about">About this list</a>
      {% include "theme-switcher.njk" %}
    </footer>

    <!-- This page `{{ page.url | htmlBaseUrl }}` was built on {% currentBuildDate %} -->
    <script type="module" src="{% getBundleFileUrl "js" %}"></script>
    <!-- 100% privacy-first analytics -->
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
